<% if current_user %>
  <div class="form-inputs">
    <%= simple_form_for @comment do |f|%>
    <%= f.input :content %> <br>
  </div>

  <div class="form-actions">
    <%= f.button :submit%>
  </div>
  <%end%>
<%end%>