// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .header_slider{
//   height: 80vh;
//   background-color: blue;
// }
body{
    margin: 0px;
    padding: 0px;
}


.navbar-toggler {
    z-index: 1;
}
    
@media (max-width: 576px) {
    nav > .container {
        width: 100%;
    }
}
    /* Temporary fix for img-fluid sizing within the carousel */
    
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: block;

}

.carousel-item {
    height: 80vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
section{
    margin-top: 60px;
}

section.featured{
    position: relative;
    background-color: #34495e;
    text-align: center;
    //height: 150px;

}
    section.inspired{
    background-color: #ecf0f1;
    height: 100vh;
    margin-top: 0px;
    position: relative;
}


@media (min-width: 992px)
 { 
section.featured{
    background-color: #34495e;
    text-align: center;
    text-align: center;
    padding: 40px 0px 40px 0px;

    img {
    border-style: none;
    position: absolute;
    z-index: 10;
    bottom: -3em;
    left: 50em;
}

    }
}

@media (min-width: 575px)
 { 
section.featured{
    background-color: #34495e;
    text-align: center;
    text-align: center;
    //padding: 40px 0px 40px 0px;

    img {
    border-style: none;
    position: absolute;
    z-index: 10;
    bottom: -3em;
    left: 50em;
}

    }
}