// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .header_slider{
//   height: 80vh;
//   background-color: blue;
// }



.navbar-toggler {
    z-index: 1;
}
    
@media (max-width: 576px) {
    nav > .container {
        width: 100%;
    }
}
    /* Temporary fix for img-fluid sizing within the carousel */
    
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: block;

}

.carousel-item {
    height: 80vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
